:root {
  --light: #ffffff;
  --dark: #333333;
  --grey: #9b9b9b;
  --primary: #473468;
  --secondary: #755b97;
  --tertiary: #f0e6f7;
}
/* || Global Styles */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 80px;
}
button {
  background-color: var(--primary);
  color: var(--light);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
input {
  padding: 5px 10px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* || Genral Styles */
.content {
  max-width: 50%;
  margin: 0 auto;
}
.welcome {
  text-align: center;
}
.message {
  margin-bottom: 20px;
}
.quiz {
  display: none;
}
.answers {
  display: inline-flex;
  flex-direction: column;
}
.answers p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.option > a {
  cursor: pointer;
  background: var(--primary);
  color: var(--light);
  padding: 5px 10px;
  border-radius: 5px;
}
.outcome {
  display: none;
  font-style: italic;
  color: var(--grey);
  padding-top: 10px;
  border-top: 2px solid var(--grey);
  margin-top: 20px;
}
.result {
  display: none;
}
.highscores > ol {
  padding-left: 25px;
  margin-bottom: 30px;
  background-color: var(--tertiary);
}
.highscores > ol li {
  padding-top: 10px;
  padding-bottom: 10px;
}
